<a href="https://colab.research.google.com/github/allieoetsman72-droid/cibo/blob/main/ddp%209.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def celcius_ke_fahrenheit(celcius):
    """Konversi suhu dari Celcius ke Fahrenheit."""
    return celcius * 9/5 + 32

print(celcius_ke_fahrenheit(0))
print(celcius_ke_fahrenheit(100))

32.0
212.0

In [3]:

def is_genap(n):
    """Mengembalikan True jika n genap, False jika ganjil."""
    return n % 2 == 0

print(is_genap(4))
print(is_genap(7))

True
False

In [4]:
def nilai(score):
    """Mengembalikan 'lulus' jika score >= 75, selainnya 'gagal'."""
    return "lulus" if score >= 75 else "gagal"

print(nilai(80))
print(nilai(60))

lulus
gagal

In [5]:
def bilangan(n):
    """Mengembalikan string bilangan ganjil dari 1 sampai n-1 (atau sampai n jika n ganjil)."""
    return ",".join(str(i) for i in range(1, n + 1) if i % 2 == 1)

print(bilangan(20))

1,3,5,7,9,11,13,15,17,19